body {
    margin: 0;
}
.block1, .block2, .block3, .block4, .block5 {
    position: absolute;
    border: 5px solid black;
}

.block1 {
    background-color: red;
    top: 0px; 
    width: 400px;
    height: 400px;
}

.block2 {
    background-color: yellow;
    top: 0px;
    left: 410px;
    width: 200px;
    height: 600px;
}

.block3 {
    background-color: blue;
    top: 405px;
    left: 0;
    width: 400px;
    height: 200px;
}

.block4 {
    background-color: white;
    top: 600px;
    left: 0;
    width: 610px;
    height: 200px;
}

.block5 {
    background-color: black;
    top: 0px;
    left: 620px;
    width: 200px;
    height: 200px;
}