html {
    min-height: 100%;
    position: relative;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: beige !important;
}
